<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- 헤더 시작 -->
	<div th:replace="/common/header :: header"></div>
	<!-- 헤더 끝 -->

	<!-- 개별 css -->
	<style type="text/css">
		section .container {
        	width: 60%;
        }
        
		textarea {
			resize: none;
		}
		
		input[type="file"] {
			padding-left: 1%;
			padding-right: 0;
			height: 100%;
		}
		
	</style>
</head>

<body>
	<!-- 네비 시작 -->
	<div th:replace="/common/nav :: nav"></div>
	<!-- 네비 끝 -->

	<!-- 본문 시작 -->
	<div style="height: 13vh;"></div>
	<section style="min-height: 565px;">
		<div class="container p-5">
			<div class="d-flex row align-items-center justify-content-center h-100">
				<form th:action="@{|/etc/eventUpdate/${event.eventNum}|}" method="POST" enctype="multipart/form-data" onsubmit="return check()">
					<div>
						<input type="text" class="form-control mb-3" id="senseTitle" name="eventTitle" th:value="${event.eventTitle}">
					</div>
					<div>
						<input type="text" class="form-control mb-3" id="userId" name="userId" th:value="${event.userId}" readonly>
					</div>
					<div>
						<textarea class="form-control mb-3 p-3" cols="20" rows="20" id="eventContent" name="eventContent" th:text="${event.eventContent}"></textarea>
					</div>
					<div class="mb-3">
						<input class="form-control" type="file" id="file" name="file" multiple th:text="${event.fileOrg}">
					</div>
					<div>
						<input type="submit" id="btnUpdate" name="btnUpdate" value="수정">
						<input type="button" id="btnback" name="btnback" value="취소">
					</div>
					<input type="hidden" name="id" th:value="${event.eventNum}">
				</form>
			</div>
		</div>
	</section>
	<!-- 본문 끝 -->

	<!-- 푸터 시작 -->
	<footer th:replace="/common/footer :: footer"></footer>
	<!-- 푸터 끝 -->

	<!-- 개별 js -->
	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function () {
			$("#btnback").on("click", function () {
				location.href = "/etc/event/[[${event.eventNum}]]";
			});
		});
		
		function check() {
			if (confirm("수정하시겠습니까?") == true) {
				return;
			}
			
			else {
				return false;
			}
		}
	</script>
</body>

</html>